<script type='text/javascript'>
$(function() {
  Dashing.weight = 1280
  Dashing.height = 1024

  Dashing.numColumns = 3
  Dashing.numRows = 2

  Dashing.widget_base_dimensions = [(Dashing.weight - 10 * (1 + Dashing.numColumns)) / Dashing.numColumns - 10, (Dashing.height - 10 * (1 + Dashing.numRows)) / Dashing.numRows - 8]
});
</script>

<% content_for :title do %>Docker containers<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-host1:app1" data-container="host1:app1"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-host1:app2" data-container="host1:app2"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-host1:app3" data-container="host1:app3"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-host1:app4" data-container="host1:app4"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-host2:app1" data-container="host2:app1"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-host2:app2" data-container="host2:app2"></div>
    </li>
</div>
