<script type='text/javascript'>
$(function() {
  Dashing.weight = 1024
  Dashing.height = 768

  Dashing.numColumns = 2
  Dashing.numRows = 3

  Dashing.widget_base_dimensions = [(Dashing.weight - 10 * (1 + Dashing.numColumns)) / Dashing.numColumns - 10, (Dashing.height - 10 * (1 + Dashing.numRows)) / Dashing.numRows - 8]
});
</script>

<% content_for :title do %>Docker containers<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-ghost-local" data-container="ghost-local"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-missed-container" data-container="missed-container"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-undefined3" data-container="undefined3"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-undefined4" data-container="undefined4"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-undefined5" data-container="undefined5"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Docker" data-id="docker-undefined6" data-container="undefined6"></div>
    </li>
</div>
