<!--script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script-->

<% content_for :title do %>Docker containers<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Docker" data-id="docker-corps-profiles-api" data-container="corps-profiles-api"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-view="Docker" data-id="docker-corps-organizations-api" data-container="corps-organizations-api"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-view="Docker" data-id="docker-corps-contractors-api" data-container="corps-contractors-api"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Docker" data-id="docker-corps-payments-api" data-container="corps-payments-api"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-view="Docker" data-id="docker-corps-accounts-api" data-container="corps-accounts-api"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-view="Docker" data-id="docker-corps-catalogs-api" data-container="corps-catalogs-api"></div>
    </li>

</div>
