<% content_for :title do %>Docker containers<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="docker-stupefied_ardinghelli" data-view="Docker" data-title="stupefied_ardinghelli" data-status="GREEN" data-message=""></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="docker-missed_container" data-view="Docker" data-title="missed_container" data-status="RED" data-message="Something has happened :("></div>
    </li>
</div>